body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
}

#admin-container {
  max-width: 700px;
  margin: auto;
}

input {
  padding: 6px;
  margin: 4px;
}

button {
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  text-align: left;
}
